body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    background: url('/img/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 68px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    box-shadow: 0px 4px 8px rgb(134 155 122 / 46%);
}

    .login-container h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #fff;
    }

    .login-container .form-group {
        margin-bottom: 15px;
        /* text-align: left; */
    }

        .login-container .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #ddd;
        }

    .login-container .form-control {
        width: 60%;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        background: #2222229c;
        color: #fff;
    }

    .login-container .btn {
        width: 30%;
        padding: 10px;
        background-color: #b3ffc475;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-container .btn:hover {
            background-color: #218838;
        }
